.header {
  background-color: $gray;
  @include md-block {
    margin-top: 49px;
  }
  &__logo {
    width: 210px;
  }
  &__search {
    flex-grow: 1;
  }
  &__callback {
    padding: 14px 25px;
    @include lg-block {
      font-size: 15px;
    }
    @include md-block {
      padding: 5px 10px;
      border-radius: 0;
    }
  }
  &-nav {
    position: relative;
    padding: 10px 0;
    @include md-block {
      position: fixed;
      z-index: 999;
      box-shadow: 0 0 8px 2px rgba($dark, 0.5);
      background-color: $dark;
      left: 0;
      right: 0;
      top: 0;
    }
    &:before {
      content: '';
      position: absolute;
      height: 50%;
      width: 100%;
      left: 0;
      right: 0;
      background-color: #fff;
      bottom: 0;
      @include md-block {
        display: none;
      }
    }
    &__logo {
      display: none;
      line-height: 0;
      img {
        width: 180px;
      }
      @include md-block {
        display: block;
      }
    }
  }
}

.header-top {
  background-color: #e8e8e8;
  font-size: 14px;
  padding: 10px 0;
  &__container {
  }
  &__tels {
    @include md-block {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__tel {
    padding-right: 15px;
    white-space: nowrap;
    @include md-block {
      padding-right: 7px;
      font-size: 14px;
      width: 50%;
    }
    @include xs-block {
      font-size: 11px;
    }
    &:hover {
      color: $blue;
    }
  }
  &__langs {
  }
  &__lang {
    color: #83868a;
    cursor: pointer;
    &:hover {
      color: $blue;
    }
    & + & {
      &:before {
        content: '|';
        margin-left: 7px;
        margin-right: 7px;
      }
    }
    &.active {
      color: $dark;
      pointer-events: none;
    }
  }
}

.header-main {
  padding-top: 18px;
  padding-bottom: 22px;
  @include md-block {
    position: fixed;
    z-index: 100;
    background: $gray;
    max-width: 100%;
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 12px 1px rgba($dark, 0.6);
  }
  & > * {
    margin: 0 14px;
    @include md-block {
      margin: 0;
      flex: 1;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .btn {
    // padding: 14px;
  }
}

.search {
  &__btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 14px;
  }
  &__input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #fbfbfb;
    padding: 10px 20px;
    flex-grow: 1;
    border: 1px solid transparent;
    &:focus {
      border-color: $blue;
    }
  }
}

.basket {
  @include md-block {
    flex-flow: row-reverse;
  }
  &__btn {
    padding: 14px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    @include md-block {
      padding: 7px 15px;
      border-radius: 0;
    }
  }
  &__info {
    flex-flow: column;
    border-radius: 5px;
    background-color: #fbfbfb;
    padding: 8px 15px;
    @include md-block {
      flex-grow: 1;
      padding: 7px 12px;
    }
  }
  &__value {
    font-weight: 700;
    white-space: nowrap;
    @include md-block {
      font-size: 14px;
    }
  }
  &__num {
    font-size: 12px;
    color: rgba(#212121, 0.75);
    @include md-block {
      font-size: 10px;
    }
  }
}

.nav {
  position: relative;
  z-index: 10;
  list-style: none;
  border-radius: 5px;
  width: 100%;
  max-height: 100%;
  @include md-block {
    border-radius: 0;
    overflow-y: auto;
    position: fixed;
    width: 320px;
    right: -320px;
    transition: right 0.4s;
    top: 0;
    height: 100vh;
    background-color: #2b2b2b;
    z-index: 10;
    padding: 50px 0 30px;
    text-align: right;
    flex-flow: column;
    // justify-content: center;
    &.nav_open {
      box-shadow: -6px 0 39px 12px rgba(39, 39, 39, 0.63);
      right: 0;
      transition: right 0.4s;
    }
  }
  &__link {
    padding: 15px 30px;
    display: block;
    display: flex;
    align-items: center;
    height: 100%;
    @include md-block {
      height: auto;
    }
    &_icon {
      padding: 13px 25px;
      border-radius: 5px 0 0 5px;
    }
    &.active {
      background-color: #424d58;
      color: $lblue;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        height: 4px;
        background-color: $lblue;
        bottom: 0;
        left: 0;
        right: 0;
      }
      svg {
        fill: $lblue;
      }
    }
    &:hover {
      background-color: #1a232b;
    }
    .icon {
      width: 22px;
      height: 22px;
    }
  }
  &__item {
    & + & {
      @include md-block {
        border-top: 1px solid #232222;
      }
    }
    &-dropdown {
      & > a {
        position: relative;
        &:after {
          content: '';
          margin-top: 8px;
          margin-left: 10px;
          width: 0;
          transition: 0.35s;
          height: 0;
          border: 6px solid transparent;
          border-color: #ffffff transparent transparent transparent;
        }
      }
      &.active > a {
        &:after {
          margin-top: -4px;
          transform: rotate(180deg);
        }
      }
    }
  }
  &__dropdown {
    position: absolute;
    display: none;
    border-radius: 0 0 5px 5px;
    background-color: #f2f2f2;
    list-style: none;
    padding: 15px 0;
    box-shadow: 0 0 12px 2px rgba($dark, 50%);
    @include md-block {
      position: relative;
      padding: 0;
    }
    .nav__item-dropdown:hover & {
      z-index: 10;
      display: block;
      @include md-block {
        display: none;
      }
    }
    &-item {
      & + & {
        @include md-block {
          border-top: 1px solid #b7b6b6;
        }
      }
    }
    &-link {
      color: $dark;
      padding: 12px 25px;
      display: block;
      &:hover {
        background: $dark;
        color: #ffffff;
      }
    }
  }
}

.burger {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 30px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 15;
  display: none;
  @include md-block {
    display: flex;
    margin-top: -2px;
  }
  &-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: 9;
    pointer-events: none;
    transition: 0.5s;
    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }
  &__inner {
    width: 35px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
    .active & {
      transform: translateX(-35px);
      background: transparent;
      box-shadow: none;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 35px;
      height: 3px;
      background: #fff;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
    }
    &:before {
      transform: translateY(-12px);
      .active & {
        transform: rotate(45deg) translate(20px, -20px);
      }
    }
    &:after {
      transform: translateY(12px);
      .active & {
        transform: rotate(-45deg) translate(20px, 20px);
      }
    }
  }
}
